
@{
    ViewData["Title"] = "Home Page";
}

<div class="pocetnapocetna">
    <h1 class="display-4">Welcome</h1>
</div>


<div>
    <a asp-area="" asp-controller="Course" asp-action="Index"><button class="kopcinja">Courses</button></a>
    <a asp-area="" asp-controller="Student" asp-action="StudentView"><button class="kopcinja">Students</button></a>
    <a asp-area="" asp-controller="Teacher" asp-action="TeacherView"> <button class="kopcinja">Teachers</button></a>
</div>
